@page
@model AsciiArtModel 
@{
    ViewData["Title"] = "Ascii Art";
}

<form method="post">
    <fieldset>
        <div>
            <label for "Text">Text:</label>
            <input type="text" id="text" name="text" />
        </div>
    </fieldset>
</form>

@if (Model.ShowRenderedText)
{
    <pre>
    @Model.RenderedText
    </pre>
}